<tr class="clickable-row" role="link" data-link="<%= post_path(post) %>">
	<td><%= post.daily_hours %></td>
	<td><%= post.date %></td>
	<td class="hidden-xs"><%= link_to truncate(post.work_performed), post %></td>
	<td><%= status_label post.status %></td>
	<% if policy(post).update? %>
		<td id="post_<%= post.id %>" >
			<%= link_to '', edit_post_path(post), class: "glyphicon glyphicon-pencil pull-left edit-icon" %>
			<%= link_to '', post_path(post), method: :delete, data: { confirm: "Are you Sure?" }, class: "glyphicon glyphicon-trash pull-right delete-icon" %>
		</td>
	<% end %>
</tr>
